<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Sobre Nosotros</h2>
            <p>…Como podemos ayurdarte?<br> Somos una empresa inmobiliaria con gran reconocimiento en el mercado. Contamos con un equipo de ejecutivos especializados dispuestos a prestar un servicio integral y amable buscando la forma de satisfacer
                sus necesidades, asesorando y respondiendo todas las inquietudes a la hora de vender, arrendar o avaluar su inmueble o proyecto..
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Misión</h3>
                <p class="fst-italic">
                    Liderar el sector inmobiliario de la Universidad de Caldas, siendo la empresa más reconocida por los colombianos manteniendo nuestros clientes actuales y potenciales con la mejor calidad en nuestros servicios por medio de una constante actualización en
                    todos los temas involucrados con finca raíz.
                </p>
                <h3>Visión</h3>
                <p>
                    Satisfacer las necesidades de nuestros clientes en sus operaciones inmobiliarias con una administración profesional, responsable y honesta, un servicio de calidad y asesoría permanente basado en una capacitación y actualización tecnológica continua de
                    nuestras diferentes áreas, arrendamientos, ventas y avalúos.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Us Section -->